DATABASE_URL="file:./dev.db"

# Google Sheets API
GOOGLE_SERVICE_ACCOUNT_EMAIL="xxx@xxx.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# LINE Bot
LINE_CHANNEL_ACCESS_TOKEN="your_channel_access_token"
LINE_CHANNEL_SECRET="your_channel_secret"

# App
PORT=3000
APP_URL="http://localhost:3000"
